.selectButton {
    display: inline !important;
    width: fit-content;
    float: right;
    color: white;
    border-color: #805ad5;
    background-color: #805ad5;
    margin-top: 50px;
}

.selectButton:hover {
    border-color: #6B46C1;
    background-color: #6B46C1;
    box-shadow: 5px 10px 20px 1px rgba(85, 60, 154,0.253);
}

.selectButton:active {
    border-color: #553C9A;
    background-color: #553C9A;
    box-shadow: 0 0 0 .2rem rgba(85, 60, 154, 0.5)
}

.hotelBody {
    margin-top: 10px;
    display: inline !important;
}

.hotelCard {
    padding-bottom: 10px;
    background-color: #f7f9fa;
    margin: 10px 5px;
}

.hotelCard:hover {
    box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.253);
}

.resultsHeader {
    color: #0B3837;
    width: fit-content;
    margin: auto;
    padding-bottom: 20px;
}

.page {
    width: 100% !important;
}

.hotelPicture {
    height: 200px;
    /* width: 150px; */
    box-sizing: border-box;
    transform: scale(1);
}

.hotelPicture:hover {
    transform: scale(1.1);
    position: relative;
    z-index: 10;
}

.hotelContent {
    color: #0B3837;
    margin: 0;
    display: block;
}
#hotelName {
    
    font-family:'Franklin Gothic Medium';
    color: #24b9b6;
}

.buttonPrice {
    display: inline !important;
}

#priceText {
    font-size: 11pt;
}

#priceValue {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 26pt;
    font-style: bold;
    color:green;
}

#hotelAddr {
    font-family:'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    font-size: 16pt;
    padding-bottom: 10px;
}

#priceData {
    display: block;
}

#hotelRating {
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}